<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <connectionStrings>
      <add name="ConexionBaseDePagos"
       providerName="System.Data.ProviderName"
       connectionString="Data Source = 10.27.0.3,1153; Initial Catalog = Pagos; User Id = sa; Password = Sidom1234;" />
      <add name="ConexionBaseDePagos2"
       providerName="System.Data.ProviderName"
       connectionString="Data Source = 200.49.145.82,1153; Initial Catalog = Pagos; User Id = sa; Password = Sidom1234;" />
    </connectionStrings>
</configuration>